<body>
  <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>

  <h1>Sobre Mi</h1>
  <h2>Mi nuevo sitio Astro!</h2>
  <p>Estoy trabajando en el tutorial introductorio de Astro</p>
</body>
